body {
    background: white;   
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    margin:0;
}
p {
    margin:0;
}

#bambinobutton {
    width: 320px;
    height: 221px;
    margin: 40px auto;
    background: url(../img/button.png) no-repeat;
    display:none;
}

#disclaimer {
    color:lightgray;
}

h1 
{
    color: #0489ff;
    font-weight: bolder;    
    -webkit-text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

#ytplayer 
{
    position:absolute;
    left:-9000px;
}


.center
{
   
    height:100%;
}
.center > div
{
    margin: 0 auto;
    width: 320px;    
}

.ani {
     -moz-animation: cAni 0.5s linear infinite;
    -o-animation: cAni 0.5s linear infinite;
    -webkit-animation: cAni 0.5s linear infinite;
    animation: cAni 0.5s linear infinite;
}

@-moz-keyframes cAni{
    100% {background-color:#0489ff;}
}

@-webkit-keyframes cAni{
    100% {background-color:#0489ff;}
}

@keyframes cAni{
    100% {background-color:#0489ff;}
}

#label {
    color: #0489ff;
    font-size: xx-large;
    font-weight: bolder;    
    -webkit-text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

 .round {
  display: block;
  background-color: #0489ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0489ff), to(#0489ff));
  background-image: -webkit-linear-gradient(top, #0489ff, #0489ff); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: white;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #0489ff, inset 0px 2px 3px #0489ff;
}
 .round:hover{
  text-decoration: none;
  color: white;
  background: #0489ff;
}

 @media screen and (max-width: 1024px) 
 {
     .appstores
     {
         display:none;
     }
 }

textarea {
    width:300px;
}


