<connectionStrings>
  <add name="bambino_dbEntities" connectionString="metadata=res://*/Models.Bambino.csdl|res://*/Models.Bambino.ssdl|res://*/Models.Bambino.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zkb7ppny5i.database.windows.net;initial catalog=venuedo_db;persist security info=True;user id=venuedo;password=amd1333mhz+;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>